
@import "tailwindcss";

:root{
  --bg:#2B2422;
  --surface:#352B27;
  --primary:#0F3460;
  --accent:#E91E63;

  --text:#F5EDEA;
  --text-muted:#B9A89F;
  --border:#4A3C36;
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  background:var(--bg);
  color:var(--text);
  font-family:"Outfit",sans-serif;
}

a{
  text-decoration:none;
  color:inherit;
}

button{
  cursor:pointer;
}